{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="row">
        <p class="alert alert-success" role="alert">You have successfully updated currencies.</p>

    </div>
{% endblock body %}