{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="row">
        <h1>Exchange currency</h1>
        {{ form_start(form, {'method': 'POST'}) }}
        {{ form_row(form._token) }}
        <div class="form-group">
            {{ form_row(form.currency, { 'attr': {'class': 'form-control', 'id': 'currency'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.currencyAmount, { 'attr': {'class': 'form-control', 'id': 'currency-amount'} }) }}
        </div>
        <div class="alert alert-success hidden" id="currency_amount_holder"  role="alert"></div>
        <div class="form-group">
            {{ form_row(form.save, { 'attr': {'class': 'btn btn-default', 'id': 'purchase'} }) }}
        </div>
        {% if form_errors(form) %}
            <div class="alert alert-danger" role="alert">{{ form_errors(form) }}</div>
        {% endif  %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}

    </div>
{% endblock body %}